doctype html
html
  head
    title Bands | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Bands
        if error
          p.error= error
        if bands && bands.length
          ul.band-list
            each band in bands
              li
                strong= band.BandName
                if band.BandWebsite
                  |  - 
                  a(href=band.BandWebsite, target='_blank') Website
                if band.PictureURL
                  br
                  img(src=band.PictureURL, alt=band.BandName, style='max-width:120px;')
        else
          p No bands found.
    include ./_footer.pug
