doctype html
html
  head
    title Camps & Workshops | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Camps & Workshops
        if error
          p.error= error
        if camps && camps.length
          ul.camp-list
            each camp in camps
              li
                strong= camp.EventName
                |  - 
                span= camp.DateRange
                if camp.ImageURL
                  br
                  img(src=camp.ImageURL, alt=camp.EventName, style='max-width:120px;')
        else
          p No camps or workshops found.
    include ./_footer.pug
