doctype html
html
  head
    title Festivals | Lesterslist.com
    link(rel='stylesheet', href='/css/main.css')
  body
    include ./_header.pug
    main
      section
        h2 Festivals
        if error
          p.error= error
        if festivals && festivals.length
          ul.festival-list
            each festival in festivals
              li
                strong= festival.FestivalName
                |  - 
                span= festival.StartDate
                if festival.FlyerImage
                  br
                  img(src=festival.FlyerImage, alt=festival.FestivalName, style='max-width:120px;')
        else
          p No festivals found.
    include ./_footer.pug
